:root {
       --bg-color: #0F0F0F;
       --card-bg: #1C1C1E;
       --primary: #1E88E5;
       --accent: #FFD600;
       --text-light: #F5F5F5;
       --border-color: #2C2C2C;
       --highlight: #00E5FF;                   
       --Purple: #7C4DFF;        
       --Accent: #18FFFF;         
       --Cards:#1F1F1F;                                      
       --Hover-Glowbox-shadow: 0 0 10px #7C4DFF ;
     }


*{
       margin:0;
       padding:0;
       box-sizing: border-box;
}

body{
       background-color:var(--bg-color);
       color: white;
       font-family:sans-serif;
}
.navbar{
       background-color: transparent;
       padding: 15px 30px;

}

.nav-logo{
       font-size: 1.9rem;
       font-family: 'Russo One', sans-serif;
       letter-spacing: 1px;
       background: linear-gradient(90deg, #ff3c00, #ff0000);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       text-transform: uppercase;
       padding-left: 10px;
       padding-right: 10px;
       border-radius: 10px 20px 10px 20px;
       box-shadow: 0 0 20px rgba(255, 60, 0, 0.5);

}

.nav-link {
  color: #fff !important; 
  font-size: 1.1rem;
  padding: 10px 15px; 
  transition: all 0.3s ease; 
}

.navbar-toggler-icon {
  background-color: #fff; 
}


.hero{
       height:80vh;
       background-image: url("./images/driftingcropped.jpg");
       background-size: cover;
       background-position: center;
       position: relative;
       overflow: hidden;
       
}

.hero .overlay{
       position: absolute;
       inset: 0;
       background-color: rgba(0, 0, 0, 0.5);
       z-index: 1;
}
.hero .container{
       position: relative;
        z-index: 2; 
}


.car-type-card {
       transition: transform 0.3s ease, box-shadow 0.3s ease;
     }

.car-type-card:hover{
       transform: scale(1.05);
       box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
       cursor: pointer;
}


#myCarousel img {
  object-fit: cover;
  height: auto;
}

.gradient-text {
       font-family:'Bebas Neue', sans-serif;
       font-size: 3rem; 
       background:linear-gradient(to right, #ff6a00, #ee0979);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}




.footer{
       background-color: #0F0F0F;
}

     

     